<a href="https://colab.research.google.com/github/skedrastic/m5-forecasting-uncertainty/blob/master/linear.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install kaggle

Requirement already satisfied: kaggle in /usr/local/lib/python3.6/dist-packages (1.5.6)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.6/dist-packages (from kaggle) (4.0.1)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.15.0)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.8.1)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.23.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.6/dist-packages (from kaggle) (4.41.1)
Requirement already satisfied: certifi in /usr/local/lib/python3.6/dist-packages (from kaggle) (2020.6.20)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.6/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (2.10)

In [ ]:
!export KAGGLE_USERNAME=haibachi KAGGLE_KEY=def5914d6b0e3ef312dd09e7381f0602 && \
kaggle competitions download -c m5-forecasting-uncertainty -p /home/data && \
(cd /home/data && unzip \*.zip)

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.6 / client 1.5.4)
sales_train_evaluation.csv.zip: Skipping, found more recently modified local copy (use --force to force download)
sell_prices.csv.zip: Skipping, found more recently modified local copy (use --force to force download)
sample_submission.csv.zip: Skipping, found more recently modified local copy (use --force to force download)
calendar.csv: Skipping, found more recently modified local copy (use --force to force download)
sales_train_validation.csv.zip: Skipping, found more recently modified local copy (use --force to force download)
Archive:  sales_train_evaluation.csv.zip
replace sales_train_evaluation.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: n

Archive:  sales_train_validation.csv.zip
replace sales_train_validation.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: n

Archive:  sell_prices.csv.zip
replace sell_prices.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: n

Archive:  sample_submission.csv.zip
replace sample_submission.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: n

4 archives were successfully processed.

In [ ]:
import pandas as pd
import numpy as np
from os import path

In [ ]:
data_path = "/home/data"
sales_train_eval = pd.read_csv(path.join(data_path, 'sales_train_evaluation.csv'))
sales_train_eval.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30490 entries, 0 to 30489
Columns: 1947 entries, id to d_1941
dtypes: int64(1941), object(6)
memory usage: 452.9+ MB

In [ ]:
sales_train_eval.head()

                              id        item_id  ... d_1940 d_1941
0  HOBBIES_1_001_CA_1_evaluation  HOBBIES_1_001  ...      0      1
1  HOBBIES_1_002_CA_1_evaluation  HOBBIES_1_002  ...      0      0
2  HOBBIES_1_003_CA_1_evaluation  HOBBIES_1_003  ...      0      1
3  HOBBIES_1_004_CA_1_evaluation  HOBBIES_1_004  ...      2      6
4  HOBBIES_1_005_CA_1_evaluation  HOBBIES_1_005  ...      1      0

[5 rows x 1947 columns]